# Django-specific ignores
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

SignUp-Django\env
\env\
# Python environment
env/
venv/
ENV/
env.bak/
venv.bak/
*.pyc
*.pyo
__pycache__/

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
*.so

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Sphinx documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Poetry
poetry.lock

# PDM
.pdm.toml
.pdm-python
.pdm-build/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# Environments
.env
.venv

# PyCharm
.idea/

# Visual Studio Code
.vscode/
.history/

# Node.js
node_modules/

# VS Code files for those working on multiple tools
*.code-workspace

# Miscellaneous
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
*.suo
*.user
*.userosscache
*.sln.docstates

# Backup & report files from converting an old project file
_UpgradeReport_Files/
Backup*/
UpgradeLog*.XML
UpgradeLog*.htm
ServiceFabricBackup/
*.rptproj.bak

# SQL Server files
*.mdf
*.ldf
*.ndf

# Business Intelligence projects
*.rdl.data
*.bim.layout
*.bim_*.settings
*.rptproj.rsuser

# ReSharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# TeamCity
_TeamCity*

# DotCover
*.dotCover

# Coverlet
coverage*.json
coverage*.xml
coverage*.info

# NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

# MightyMoose
*.mm.*
AutoTest.Net/

# Web workbench (sass)
.sass-cache/

# Installshield output folder
[Ee]xpress/

# DocProject
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Microsoft Azure Web App publish settings
PublishScripts/

# NuGet Packages
*.nupkg
*.snupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# JetBrains Rider
*.sln.iml

# Visual Studio cache files
*.[Cc]ache
!?*.[Cc]ache/

# Backup folder for Package Reference Convert tool
MigrationBackup/

# Fody - auto-generated XML schema
FodyWeavers.xsd


# SQLite database files
db.sqlite3
db.sqlite3-journal


